<div class="w-4/6 m-auto mb-20">
    <h1 class="text-center font-bold text-2xl">Contact</h1>
    <div class="border-b-2 w-12 border-black m-auto mb-5 mt-1">
    </div>
    <%# horizontal line %>
    <div class="bg-f-gradient-1 bg-opacity-50">
        <div class="text-sm p-5 w-1/2 m-auto">
            <a href="mailto:anthonylevesque70@gmail.com" class="m-auto flex mb-5">
                <%= image_tag("TEmail.png", class: "h-6 mt-3 mr-3", ) %>
                <div>
                    <h2>Email</h2>
                    <p>anthonylevesque70@gmail.com</p>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/anthonylevesque70/" target="_blank" class="m-auto flex mb-5">
                <%= image_tag("TLinkedIn.png", class: "h-6 mt-3 mr-3", ) %>
                <div>
                    <h2>LinkedIn</h2>
                    <div>linkedin.com/in/anthonylevesque70/</div>
                </div>
            </a>
            <div class="m-auto flex mb-5">
                <%= image_tag("TPhone.png", class: "h-6 mt-3 mr-3", ) %>
                <div>
                    <h2>Phone</h2>
                    <p>Upon request</p>
                </div>
            </div>
            <a href="https://www.anthonylevesque.com/" target="_blank" class="m-auto flex mb-5">
                <%= image_tag("TWebsite.png", class: "h-6 mt-3 mr-3", ) %>
                <div>
                    <h2>Website</h2>
                    <div class="text-red-500">anthonylevesque.com</div>
                </div>
            </a>
            <div class="m-auto flex">
                <%= image_tag("TPin.png", class: "h-6 mt-3 mr-3", ) %>
                <div>
                    <h2>Location</h2>
                    <p>Calgary, Alberta</p>
                </div>
            </div>
        </div>
    </div>
</div>
