<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>SubTitle:</strong>
    <%= project.subtitle %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= project.text %>
  </p>

  <p>
    <strong>Text:</strong>
    <% project.languages.each do |language| %>
      <%= language.name %>
      <%= ", " unless language == project.languages.last %>
    <% end %>
  </p>  

</div>
