<div id="<%= dom_id project %>">

  <h1 class="text-left font-bold text-2xl">
    # <%= project.name %>
  </h1>

  <p>
    <strong>SubTitle:</strong>
    <%= project.subtitle %>
  </p>

  <p>
    <%= project.text %>
  </p>

  <%# Image %>
  <% if project.image.attached? %>
    <div>
      <%= image_tag(project.image, class: "w-80 h-60 border border-black") %>
    </div>
  <% else %>
    <div class="w-80 h-60 border border-black">
      Image
    </div>
  <% end %>

  <p>
    <strong>Languages:</strong>
    <% project.languages.each do |language| %>
      <%= language.name %>
      <%= ", " unless language == project.languages.last %>
    <% end %>
  </p>  
  <p>
    <strong>Tools:</strong>
    <% project.tools.each do |tool| %>
      <%= tool.name %>
      <%= ", " unless tool == project.tools.last %>
    <% end %>
  </p> 

</div>
