<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik+Glitch">
    <link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Russo+One">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="bg-[url('HexagonBackground.jpg')] bg-1200 flex flex-col min-h-screen">
    <%= render 'home/navigation' %>
    <% if notice %>
      <%= render 'home/alerts' %>
    <% end %>
    <main class="flex-grow">
      <div class="">
        <%= yield %>
      </div>
        
    </main>
    <div class="">
      <%= render 'home/footer' %>
    </div> 
  </body>
</html>
